<script src="~/js/all-innogotchi-list.js"></script>
<div class="container">
    <div class="row">
        <div class="container farms-overview-content">
            <div class="d-flex flex-row">
                <p>Order by: </p>
                <button class="m-1 btn btn-secondary" id="order-by-age-button">Age</button>
                <button class="m-1 btn btn-secondary" id="order-by-hunger-button">Hunger</button>
                <button class="m-1 btn btn-secondary" id="order-by-thirst-button">Thirst</button>
            </div>
            @foreach (var pet in ViewBag.Pets)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Name: @pet.Name</h5>
                        <p class="card-text">Age: @pet.Age</p>
                        <p class="card-text">Happiness days count: @pet.HappinessDaysCount</p>
                        <a href="/pets/pet/@pet.Id/details" class="btn btn-primary">Show</a>
                    </div>
                </div>
            }
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @(@ViewBag.IsPrevPageAvailable == false ? "disabled" : "")">
                    <a class="page-link" href="/pets/list?@ViewBag.PrevPageParameters" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item">@ViewBag.CurrentPage</li>
                <li class="page-item @(@ViewBag.IsPrevPageAvailable == false ? "disabled" : "")">
                    <a class="page-link" href="/pets/list?@ViewBag.NextPageParameters">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>