<script src="~/js/farms-overview.js"></script>
<div class="container">
    <div class="row justify-content-center">
        <ul class="col-8 nav nav-tabs nav-justified px-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="my-farm-tab" data-bs-toggle="tab" data-bs-target="#my-farm" type="button" role="tab" aria-controls="my-farm" aria-selected="true">My farm</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="friend-farms-tab" data-bs-toggle="tab" data-bs-target="#friend-farms" type="button" role="tab" aria-controls="friend-farms" aria-selected="false">Friend's farms</button>
            </li>
        </ul>
        <div class="col-8 tab-content px-0" id="myTabContent">
            <div class="tab-pane fade show active" id="my-farm" role="tabpanel" aria-labelledby="my-farm-tab">
                <div class="container px-0 farms-overview-content">
                    @if (@ViewBag.MyFarm != null)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.MyFarm.Name</h5>
                                <p class="card-text">AlivePetsCount: @ViewBag.MyFarm.AlivePetsCount</p>
                                <p class="card-text">DeadPetsCount: @ViewBag.MyFarm.DeadPetsCount</p>
                                <p class="card-text">AverageFeedingTime: @ViewBag.MyFarm.AverageFeedingTime</p>
                                <p class="card-text">AverageThirstQuenchingTime: @ViewBag.MyFarm.AverageThirstQuenchingTime</p>
                                <p class="card-text">AverageHappinessDaysCount: @ViewBag.MyFarm.AverageHappinessDaysCount</p>
                                <p class="card-text">AveragePetsAge: @ViewBag.MyFarm.AveragePetsAge</p>
                                <a href="/farms/farm/@ViewBag.MyFarm.Id" class="btn btn-primary">Show</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn btn-secondary" id="new-farm-modal-button" data-bs-toggle="modal" data-bs-target="#new-farm-modal">Create a new farm</button>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="friend-farms" role="tabpanel" aria-labelledby="friend-farms-tab">
                <div class="container px-0 farms-overview-content">
                    @foreach (var farm in ViewBag.FriendFarms)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@farm.Name</h5>
                                <p class="card-text">AlivePetsCount: @farm.AlivePetsCount</p>
                                <p class="card-text">DeadPetsCount: @farm.DeadPetsCount</p>
                                <p class="card-text">AverageFeedingTime: @farm.AverageFeedingTime</p>
                                <p class="card-text">AverageThirstQuenchingTime: @farm.AverageThirstQuenchingTime</p>
                                <p class="card-text">AverageHappinessDaysCount: @farm.AverageHappinessDaysCount</p>
                                <p class="card-text">AveragePetsAge: @farm.AveragePetsAge</p>
                                <a href="/farms/farm/@farm.Id" class="btn btn-primary">Show</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>



    </div>
</div>

<div class="modal fade" id="new-farm-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content p-1">
            <h5 class="d-flex justify-content-center p-2">Farm friends</h5>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                <input type="text" class="form-control" id="new-farm-modal-name" aria-label="" aria-describedby="inputGroup-sizing-sm" value="">
            </div>
            <div class="container">
                <div class="row justify-content-between p-1">
                    <button type="button" style="margin-left: -1px;" class="btn btn-secondary col-6" data-bs-dismiss="modal">Close</button>
                    <button type="button" style="margin-right: -1px;" class="btn btn-secondary col-6" id="new-farm-modal-submit-button" data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>